<h2>Post Create Component</h2>

<mat-card>

  <!-- 4. [(ng-model)]="property"   also called 'data binding'  or two way binding-->
  <!--<textarea rows="6" [value]="newPost"></textarea>-->

  <mat-form-field>
    <!--ini yang pakai ng-model -->
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>

    <hr />

    <!-- 3. (event)="handler"  or event binding-->
    <button mat-raised-button color="accent" (click)="onAddPost()">Save Post</button>
  </mat-form-field>

  <!-- 1. {{value}} or interpolation -->
  <p>{{ newPost }}</p>
</mat-card>
